.nav-link {
    color: black !important;
}
  
.nav-link.active {
    color: var(--bs-primary) !important;
}

.nav-link:hover {
    color: var(--bs-primary) !important;
}

.btn-outline-primary:hover {
    color: white !important;
}